*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    }
    header {
        background-color: #FFF;
    }
    .page-header {
        border-bottom: 1px solid #e7e9fc;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin: 0;
    }
    svg {
        width: 64;
        height: 64;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .nav-link {
        color: inherit;
        text-decoration: none;
        padding: 24px 0;
    }
    img {
        display: block;
        max-width: 100%;
        height: auto;
    }
    .container {
        width: 1158px;
        padding: 0px 15px;
        margin: 0 auto;
    }
    .header-container {
        display: flex;
    }
    .section {
        padding: 120px 0;
        width: 100%;
    }
    .logo-dark {
        color: #4d5ae5 ;
        font-family: Raleway, sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17; 
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-decoration: none;
        margin-right: 76px;
     }

    .span-dark {
    color:#2e2f42;
    text-decoration: none;
    }
    .header-nav {
        display: flex;
        gap: 76px;
        margin-right: auto;
        padding: 24px 0;
        align-items: center;
    }
    .page-nav {
        color: #2e2f42;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        display: flex;
        gap: 40px;
    }
    .page-nav li:first-child {
            color: #404BBF;
            
        }
    .page-nav li:first-child::after {
        content: "";
        width: 48px;
        height: 4px;
        background-color: #404BBF;
        display: flex;
        position: relative;
        top: 25px;
        border-radius: 2px;
    }
    .contacts {
        display: flex;
        gap: 40px;
        padding: 24px 0;
    }
    .page-nav :hover, 
    .page-nav :focus {
        color: #404BBF;
    }
    .contacts .link {
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        text-decoration: none;
        padding: 24px 0;
    }
    .contacts :hover, 
    .contacts :focus {
        color: #404BBF;
    }
    address {
        font-style: normal;
    }
    .title-page {
        background-color:#2e2f42;
        padding: 188px 0;
        background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
        ),
        url(/images/office.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .title-container {
        display: block;
        padding: 68px 0;
    }
    .title-text {
        color:#fff;
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        margin: 0 auto;
        max-width: 496px;
        padding-bottom: 46px;
    }
    .button {
        color: #fff;    
        background-color:#4D5AE5 ;
        cursor: pointer;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        display: block;
        padding: 16px 32px;
        margin: 0 auto;
        border-radius: 4px;
        min-width: 169px;
        height: 56px;
        border: none;
    }
    .button:hover,
    .button:focus {
        background-color: #404BBF;
    }
    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }
 .hero-page h3 {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; 
    letter-spacing: 0.02em;
 }
.hero-page p {
    color: #434455;
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
}
.hero-list {
    display: flex;
    gap: 24px;
}
.hero-title {
    margin-bottom: 8px;
}
.hero-list-item {
    width: calc((100% - 72px) / 4);
}
.hero-icon {
    background-color: #F4F4FD;
        border: 1px solid #8E8F99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        flex-shrink: 0;
        display: flex;
    }
.hero-list p {
    padding-top: 8px;
}
.team-section {
    background-color: #F4F4FD;
}
.team-container ul {
    display: flex;
    gap: 24px;
    text-align: center
}
.team-li {
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-li h3 {
    padding-bottom: 8px;
}
.team-ul-text {
    padding: 32px 0;
    
}
.team-section h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    letter-spacing: 0.02em;
}
.team-section p {
    color: #434455;
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
}
.team {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.team-li {
    background-color: #FFFFFF;
}
.icon-list {
    display: flex;
    justify-content: center;
    padding-top: 8px;
}
.team-icon {
    fill: #F4F4FD;
    background-color: #4D5AE5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.team-title {
    color:#2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.team-text {
    font-size: 16px;
}
.portfolio {
    font-size: 36px;
    line-height: 1.11; 
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    text-align: center;
}
.portfolio-list-item {
    width: calc((100% - 48px) / 3);
    
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
    
}
.portfolio-list-text {
    padding: 32px 16px;
    border: 1px solid  #E7E9FC;
    border-top: none;
}
.portfolio-title {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; 
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.portfolio-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
}
footer {
    background-color:#2E2F42
}
.logo-light {
    color:#4d5ae5;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 16px;
}
.span-light {
    color: #F4F4FD;
}
.page-footer {
    padding: 100px 0;
}
.footer-text {
    color:#F4F4FD ;
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    max-width: 264px;
}